<div class="panel panel-panel-default">
    <div class="row well"  style="border-top: 2px solid #27ad5e;">


        <div class="col-sm-1">
            <img class="img-responsive" src="view/image/entegrasyon/bilgi.png"/>
        </div>
        <div class="col-sm-11">
            <h3 style="color:#27ad5e;font-weight: bolder ">Bilgilendirme</h3>
            <p>EPTTAVM Api Bilgilerinizi almak için <a href="mailto:satis.destek@pttem.com"><strong>satis.destek@pttem.com</strong></a> mail adresine email göndererek api bilgilerinizi talep edebilirsiniz. Size gönderilecek olan <strong>Kullanıcı adı</strong>,<strong>Parola</strong>ve <strong>Mağaza ID</strong> bilgilerinizi ilgili alanlara girerek kurulumu tamamlayabilirsiniz.</p>
        </div>
    </div>

    <div class="panel-heading">
        <div class="panel-title">EpttAvm Api Ayarları</div>
        <div class="pull-right" style="    margin-top: -7px;">

        <button  data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-primary btnVazgec"><i class="fa fa-reply"></i></button></div>
    </div>


</div>
<div class="row">
    <form>
    <div class="container-fluid">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-meta-title">Kullanıcı Adı</label>
            <div class="col-sm-6">
                <input type="text" name="eptt_kullanici_adi" value="{{ eptt_kullanici_adi }}" placeholder="Eptt Api Kullanıcı Adınızı Giriniz" id="input-meta-api-key" class="form-control" />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-meta-title">Parola</label>
            <div class="col-sm-6">
                <input type="text" name="eptt_api_parola" value="{{ eptt_api_parola }}" placeholder="Eptt Api Parolanızı Giriniz" id="input-meta-api-secret" class="form-control" />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-meta-title">Mağaza ID</label>
            <div class="col-sm-6">
                <input type="text" name="eptt_magaza_id" value="{{ eptt_magaza_id }}" placeholder="Eptt Mağaza ID nizi Giriniz" id="input-meta-api-secret" class="form-control" />
            </div>
        </div>
    </div>
    </form>
        <div class="clearfix"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <div class="btn-group  ">

                    <button code="eptt" name="Eptt Avm" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Kontrol Ediliyor..." class="btn btn-success btn-lg btnKaydet">Kaydet</button>
                    <button code="eptt" name="Eptt Avm" class="btn btn-warning btn-lg btnReset" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Yükleniyor..." >Sıfırla</button>

                </div>
            </div>

        </div>
    </div>


<div id="diger" class="well hidden">

    <div class="row">


        <p class="lead">Ayarları Başarılıylısa bu ekran açılacak</p>

    </div>


</div>


<script>

    $('.btnKaydet').on('click',function (event) {

        var eptt_kullanici_adi= $('input[name=eptt_kullanici_adi]').val();
        var eptt_api_parola= $('input[name=eptt_api_parola]').val();
        var eptt_magaza_id= $('input[name=eptt_magaza_id]').val();
        var error=false;
        var thisButton = $(this);
        thisButton.button('loading');
        if(eptt_kullanici_adi==''){
            swal('Lütfen Eptt Kullanıcı Adınızı Giriniz.');
            thisButton.button('reset');
            error=true;
            return
        }
        if(eptt_api_parola==''){
            swal('Lütfen Eptt Api Parola Bilgisini Giriniz.')
            error=true;
            thisButton.button('reset');
            return;
        };

        if(eptt_magaza_id==''){
            swal('Lütfen Eptt Mağaza ID nizi Giriniz.')
            error=true;
            thisButton.button('reset');
            return;
        };



        if(!error) {

            $.post('index.php?route=entegrasyon/setting/eptt&user_token={{ user_token }}', {

                eptt_kullanici_adi: eptt_kullanici_adi,
                eptt_api_parola: eptt_api_parola,
                eptt_magaza_id: eptt_magaza_id,
                eptt_status:true,

            }, function (json) {
                thisButton.button('reset');
                if (json['status']) {


                    Swal.fire({
                        title: 'Başarılı',
                        text: "Eptt Api bilgileriniz Doğrulandı, Ayarlar Sayfasına Dönmek İstermisiniz ?",
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: "Evet",
                        cancelButtonText: "Hayır!",
                    }).then((result) => {
                        if (result.value) {

                            $('.btnVazgec').click();

                        }
                    });

                    //$('#diger').removeClass('hidden');
                } else {

                    Swal.fire('Başarız',json['message'],'warning');



                }

            }, 'JSON')

        }


    })



</script>

<script>

    $('.btnReset').on('click',function () {

        var thisButton=$(this);

        Swal.fire({
            title: 'Dikkat!',
            text: "EPTT Api Bilgileriniz Silinecektir. Onaylıyormusunuz ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, Onaylıyorum!',
            cancelButtonText: "Hayır!",

        }).then((result) => {
            if (result.value) {
                thisButton.button('loading');

                $.post('index.php?route=entegrasyon/setting/reset&code=eptt&user_token={{ user_token }}', {}, function (json) {
                    thisButton.button('reset');


                    Swal.fire({
                        title: 'Başarılı',
                        text: "EPTT Api bilgileriniz Silinmiştir, Ayarlar Sayfasına Dönmek İstermisiniz ?",
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Evet!',
                        cancelButtonText: "Hayır!",

                    }).then((result) => {
                        if (result.value) {


                            $('.btnVazgec').click();

                        }
                    })
                }, 'JSON')
            }
        });


    })

</script>
