<div class="panel panel-panel-default">
    <div class="row well"  style="border-top: 2px solid #27ad5e;">


        <div class="col-sm-1">
            <img class="img-responsive" src="view/image/entegrasyon/bilgi.png"/>
        </div>
        <div class="col-sm-11">
            <h3 style="color:#27ad5e;font-weight: bolder ">Bilgilendirme</h3>
            <p>Gittigidiyor Api Bilgilerinizi almak için <a target="_blank" href="https://www.gittigidiyor.com/BanaOzel/api_keys.php"><strong>Buraya</strong></a> tıklayarak gittigidiyor bilgilerinizle giriş yapın, tüm api bilgileri bu sayfada yer almaktadır. Api bilgilerinizi ilgili alanlara girerek kurulumu tamamlayabilirsiniz.</p>
        </div>
    </div>

    <div class="panel-heading">
        <div class="panel-title">Gittigidiyor Api Ayarları</div>
        <div class="pull-right" style="    margin-top: -7px;">
            <button  data-toggle="tooltip" title="Geri Dön" class="btn btn-primary btnVazgec"><i class="fa fa-reply"></i></button></div>
    </div>


</div>

<div class="row">
    <form>
    <div class="container-fluid">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-meta-title">Gittigidiyor Api Anahtarı</label>
            <div class="col-sm-6">
                <input type="text" name="gg_api_anahtari" value="{{ gg_api_anahtari }}" placeholder="Gittigidiyor Api Anahtarınızı Giriniz"  class="form-control" />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-meta-title">Gittigidiyor Api Şifresi</label>
            <div class="col-sm-6">
                <input type="text" name="gg_api_sifre" value="{{ gg_api_sifre }}" placeholder="Gitti Gidiyor Api Şifenizi Giriniz"  class="form-control" />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-meta-title">Gittigidiyor Site Kullanıcı Adı</label>
            <div class="col-sm-6">
                <input type="text" name="gg_site_kullanici_adi" value="{{ gg_site_kullanici_adi }}" placeholder="Gittigidiyor Site Kullanıcı Adınızı Giriniz"  class="form-control" />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-meta-title">Gittigidiyor Site Kullanıcı Şifresi</label>
            <div class="col-sm-6">
                <input type="text" name="gg_site_kullanici_sifresi" value="{{ gg_site_kullanici_sifresi }}" placeholder="Gittigidiyor Site Kullanıcı Şifrenizi Giriniz"  class="form-control" />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-meta-title">Gittigidiyor Role Kullanıcı Adı</label>
            <div class="col-sm-6">
                <input type="text" name="gg_role_kullanici_adi" value="{{ gg_role_kullanici_adi }}" placeholder="Gittigidiyor Role Kullanıcı Adınızı Giriniz"  class="form-control" />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-meta-title">Gittigidiyor Role Kullanıcı Şifresi</label>
            <div class="col-sm-6">
                <input type="text" name="gg_role_kullanici_sifresi" value="{{ gg_role_kullanici_sifresi }}" placeholder="Gittigidiyor Role Kullanıcı Şifrenizi Giriniz"  class="form-control" />
            </div>
        </div>

    </div>
    </form>

        <div class="clearfix"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <div class="btn-group  ">

                    <button code="gg" name="Gittigidiyor" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Kontrol Ediliyor..." class="btn btn-success btn-lg btnKaydet">Kaydet</button>
                    <button code="gg" name="Gittigidiyor" class="btn btn-warning btn-lg btnReset" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Yükleniyor..." >Sıfırla</button>

                </div>
            </div>

        </div>
    </div></div>



