/*
 * YO Menu v1.2.0
 * Author: iDiY (info@idiy.club)
 */

/*  Default Style  */
.yo-menu
{font-family: Rajdhani,Arial,sans-serif;
    margin-bottom: 20px;
}
.yo-heading
{font-family: Rajdhani,Arial,sans-serif;
    font-size: 18px;color:#fff ;
    position: relative;
    padding: 8px 14px 6px;
    cursor: pointer;
	min-width:281px;width:100%;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    border: 0px solid #ddd;
    border-radius: 0px;
    background-color:  #000;
    /*text-shadow: 0 1px 0 #fff;*/
}
.yo-heading.yo-open
{
    border-bottom-color: transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.yo-heading.yo-close
{
    background-color: none;
}
.yo-heading i.fa.fa-bars
{font-size:25px;
    line-height: 20px;
    float: right;
}
.yo-wrapper
{ /*box-shadow:0 1px 0 1px #555;*/margin-left:-1px;
    border-bottom: 0px solid #FF138C;
	border-left: 0px solid #FF138C;border-top:none;
	border-right: 0px solid #FF138C;
	 background-color:  #000;
    border-radius: 2px; 
}
.yo-heading + .yo-wrapper
{ 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.yo-menu ul.yo-am li
{
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}
.yo-menu ul.yo-am li + li,
.yo-menu ul.yo-am li li
{
     border-bottom: 1px solid #DF510D;border-top: 1px solid #F58C5A;
}
.yo-menu ul.yo-am li a
{font-size:14px;text-transform:uppercase;
    padding: 13px 20px 13px 12px;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    text-decoration: none;font-weight:normal;
    color: #fff; font-family: Rajdhani,Arial,sans-serif;
    background-color:  #000;
     
}
.yo-menu ul.yo-am li a:hover
{
    color: #000;
    background-color:#fff;
}
.yo-menu ul.yo-am li a.active
{
    font-weight: bold;
    color: #000;
    background-color: #fff;
}
/*  End Default Style  */

ul.yo-am,
ul.yo-am ul
{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
ul.yo-am ul
{
    display: none;
}
ul.yo-am li
{
    position: relative;
    display: block;
    float: none;
}
ul.yo-am li a
{
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: none;
    outline: none;
}
ul.yo-am li a.am-item
{
    padding-right: 2.6em;
}
ul.yo-am li.active > ul
{
    display: block;
}
ul.yo-am li a span
{
    position: relative;
    vertical-align: middle;
}
ul.yo-am li a span.am-badge
{
    font-size: 85%;
    font-weight: bold;
    margin-left: .4em;
    padding: 2px 6px;
    text-align: center;
    color: #444;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #f5f5f5;
}
ul.yo-am li a.am-parent span.am-arrow:after
{
    font-family: FontAwesome;
    float: right;
    margin-right: -4px;
    content: '\f105';
}
ul.yo-am li.am-item-open > a.am-parent span.am-arrow:after
{
    margin-right: -5px;
    content: '\f107';
}
ul.yo-am li a.am-tb
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding-right: 14px;
    padding-left: 14px;
    color: #bbb;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
ul.yo-am li a.am-item:hover + a.am-tb,
ul.yo-am li a.am-tb:hover
{
    -webkit-box-shadow: -1px 1px 0 0 rgba(0, 0, 0, .05);
       -moz-box-shadow: -1px 1px 0 0 rgba(0, 0, 0, .05);
            box-shadow: -1px 1px 0 0 rgba(0, 0, 0, .05);
}
ul.yo-am li a.am-tb span:before
{
    font-family: FontAwesome;
    font-size: 10px;
    content: '\f067';
}
ul.yo-am li.am-item-open > a.am-tb span:before
{
    content: '\f068';
}
ul.yo-am .am-price
{
    font-size: 85%;
    float: right;
    margin-left: .4em;
    padding: 0 .6em;
    text-align: center;
    color: #444;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #f5f5f5;
}
ul.yo-am li.am-image > a,
ul.yo-am li a.am-image
{
    padding: 3px !important;
    text-align: center;
}
ul.yo-am img
{
    overflow: hidden;
    max-width: 100% !important;
    height: auto;
    vertical-align: middle;
    border: 0;
}
ul.yo-am img.am-icon
{
    margin-right: .7em;
}
ul.yo-am li a img.am-icon + span
{
    display: inline;
}
ul.yo-am li li a:first-child
{
    padding-left: 2.2em;
}
ul.yo-am li li li a:first-child
{
    padding-left: 3.2em;
}
ul.yo-am li li li li a:first-child
{
    padding-left: 4.2em;
}
ul.yo-am li li li li li a:first-child
{
    padding-left: 5.2em;
}
