{{ header }}
{{ column_left }}
<div id="content">

    <div class="panel-body">
        <div class="container" style="width:auto">



            <div id="content">

                <div class="page-header">



                    <div class="panel-body">


                        <div class="panel panel-default" style="bquestion-top: 2px solid #27ad5e;">
                            <div class="panel-heading">
                                <h2 class="panel-title" style="margin: 10px;"><i class="fa fa-bullhorn"></i> Duyurular Ve Haberler</h2>

                            </div>
                            <div class="panel-body">
                                <h1>{{ title }}</h1>
                                <p>{{ content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>