
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin-ext');
body {
    font-family: Arial;
    background: #fff !important;
}
body > #container, .body {
    background: #fff !important;
}
a.btn,
a.btn:visited {
    color: #fff;
}
.clear {
    clear: both;
}
.nav-tabs > li > a {
    color: #646060;
    font-size: 12px;
    padding: 10px 7px;
    font-family: 'Roboto', sans-serif;
}
.panel,
.page-header {
    font-family: 'Roboto', sans-serif;
}
.nav-tabs {
    border-bottom: 5px solid #f38733;
    margin-bottom: 0px !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #f38733 !important;
    border-top: 2px solid #b84242;
    border-left: 1px solid #f38733;
    border-right: 1px solid #f38733;
    border-bottom-color: transparent;
}
.siparis-tab > li > a {
    padding: 5px 15px;
}
.mt10 {
    margin-top: 10px;
}
.mtb5 {
    margin: 5px 0px;
}
.form-horizontal .control-label {
    text-align: left;
    font-size: 12px;
    color: #646464;
}
.form-horizontal .control-label span {
    color: #f17c7c;
}
.form-horizontal .control-label i {
    font-weight: normal;
}
.magazakategorisi input[type="checkbox"] {
    display: none;
}
.magazakategorisi input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(image/check_radio_sheet.png) left top no-repeat;
    cursor: pointer;
}
.magazakategorisi input[type="checkbox"]:checked + label span {
    background: url(image/check_radio_sheet.png) -19px top no-repeat;
}
.form-group {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.form-horizontal .control-label {
    padding-top: 5px !important;
}
.btn {
    font-weight: bold;
}

.tilered .tilered-body i,
.tilered .tilered-body h2 {
    font-size: 30px !important;
}
.tilered-body {
    padding: 5px 15px !important;
}
.row hr {
    margin-top: 7px !important;
    margin-bottom: 0px !important;
}
h4 {
    font-weight: bold;
}
/* tilereds */

.tilered {
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: #ef5910;
    color: #FFFFFF;
    transition: all 1s;
}
.tilered:hover {
    opacity: 0.95;
}
.tilered a {
    color: #FFFFFF;
}
.tilered-heading {
    padding: 5px 8px;
    text-transform: uppercase;
    background-color: #000000;
    color: #FFF;
}
.tilered .tilered-heading .pull-right {
    transition: all 1s;
    opacity: 0.7;
}
.tilered:hover .tilered-heading .pull-right {
    opacity: 1;
}
.tile-body {
    padding: 5px 15px !important;
}
.tilered-body {
    padding: 15px;
    color: #FFFFFF;
    line-height: 48px;
}
.tilered .tilered-body i {
    font-size: 50px;
    opacity: 0.3;
    transition: all 1s;
}
.tilered:hover .tilered-body i {
    color: #FFFFFF;
    opacity: 1;
}
.tilered .tilered-body h2 {
    font-size: 42px;
}
.tilered-footer {
    padding: 5px 8px;
    background-color: #000000;
}
.tile .tile-body i,
.tile .tile-body h2 {
    font-size: 30px !important;
}

.tiles .col-lg-2,
.tiles .col-md-2,
.tiles .col-lg-3,
.tiles .col-md-3,
.tiles .col-lg-4,
.tiles .col-md-4,
.tiles .col-lg-12,
.tiles .col-md-12 {
    padding-left: 7px;
    padding-right: 7px;
}
.tiles .row {
    margin-left: -7px !important;
    margin-right: -7px !important;
}
p {
    font-size: 14px !important;
}
.panel .panel-heading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
.selectlist .row {
    margin-left: -5px !important;
    margin-right: -5px !important;
}
.selectlist .col-sm-4 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.alert {
    font-family: Arial !important;
    font-size: 13px !important;
}
.intclass { width: 60px !important; }
.arac { border:1px solid #ededed; }
.pd10 { padding: 10px; }

.pageload { position: fixed; display: none; z-index: 999; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.8); font-size: 17px; color: #fff; }


.form-control {
    border-radius: 0px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.btn {
    border-radius: 0px;
}

.devamet .btn { margin-left: 10px; }

.install-panel .form-group {
    padding: 10px 15px;
}

.install-panel .alert {
    margin:5px 15px;
    border-radius: 0px;
    padding: 5px !important;
}

.page-header {
        margin: 15px 0px 0px 0px;
}

.panel-default {
    background: #fafafa;
   
}
.panel-default .panel-body {
     padding-bottom: 15px;
    background-color: #fff !important;
   border:1px solid #ededed;
}
.install-panel .row {
    margin-left: 0px;
    margin-right: 0px;
}