<div class="col-sm-3 hidden-xs" style="font-size:12px;">


  <div class="col-md-12 hidden-xs" style="background:#EEF9FD; border:1px solid #DDEEF4; border-radius:6px; margin-left:15px; margin-top:25px;">
    <div class="row" style='border-bottom:1px solid #DDEEF4; padding: 13px 0px 12px;'>
      <a href='#' style="text-decoration:none; font-weight:bold;"><?php echo $seller_name; ?></a> <span style="background:#009F4F; color:#FFF; padding: 1px 15px 1px; font-size:10px; border-radius:15px; margin-left:10px;">8.5</span>
    </div>

    <div class="row" style="border-bottom:1px solid #DDEEF4; padding: 13px 0px 12px;  display:none;">Mağazayı Gör</div>
    <div class="row" style="padding: 13px 0px 12px;  display:none;">Satıcı Yorumları</div>

  </div>


  <div class="col-md-12 hidden-xs" style="background:#EEF9FD; border:1px solid #DDEEF4; border-radius:6px; margin-left:15px; margin-top:25px; display:none;">
    <div class="row" style='border-bottom:1px solid #DDEEF4; padding: 13px 0px 12px; font-weight:bold;'>Öne Çıkan Yorumlar</div>

    <div class="row" style="border-bottom:1px solid #DDEEF4; padding: 13px 0px 12px;">
      ben sadece dışı deri sandım içi de deriymis çok memnun oldum uzun süreli gidecek bir ürün
      <div class="col-md-12">İ**B** | 24 Aralık 2021</div>
    </div>
    <div class="row" style="padding: 13px 0px 12px; text-align:center;">
      <a href='#' style=" text-decoration:none; font-weight:bold;">DAHA FAZLA YORUM</a>
    </div>

  </div>


</div>
