<div class="container-fluid">
    {% if message %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>{{ marketplace }}
            Mağazanız için {{ marketplace_info.name }} {{ message }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
</div>
<div class="row">

    <div class="panel">
        <div class="panel-body">

            <table class="table well table-bordered">

                <thead>
                <th>{{ marketplace }}</th>
                <th>İndirilmiş</th>
                <th>İndirilen</th>
                <th>Güncellenen</th>
                <th>Eşitlenen</th>
                <th>Eşitlenmeyen</th>

                </thead>

                <tbody>
                <div class="row well" style="border-top: 2px solid #27ad5e;">


                    <div class="col-sm-1">
                        <img class="img-responsive" src="view/image/entegrasyon/bilgi.png"/>
                    </div>
                    <div class="col-sm-11">
                        <h3 style="color:#27ad5e;font-weight: bolder ">Bilgilendirme</h3>

                        <p>{{ info }}</p>
                    </div>
                </div>


                <div class="progress active" style="margin-top:20px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                         aria-valuemax="100" style="width:0%"><span class="yuzde"></span></div>
                </div>
                <tr>
                    <td><span class="btn btn-primary btn-block">{{ total }}</span></td>
                    <td><span class="btn btn-info btn-block btnTotalDownloaded">{{ downloaded }}</span></td>
                    <td><span class="btn btn-success btn-block btnDownloaded">0</span></td>
                    <td><span class="btn btn-warning btn-block btnUpdated">0</span></td>
                    <td><span class="btn btn-success btn-block btnMatched">{{ matched }}</span></td>
                    <td><span class="btn btn-danger btn-block btnUnMatched">{{ unmatched }}</span></td>


                </tr>

                </tbody>

            </table>


            <div id="report" style="overflow-y:scroll; overflow-x:hidden; height:100px;">



            </div>


        </div>

        <div class="panel-footer"  style="text-align: center;">

            <div class="btn-group  ">
                <button data-loading-text="İndiriliyor..." class="btn  btn-lg  btn-primary btn-start">Aktif Ürünleri Eşitle  </button>
                {% if code == "gg" %}   <button data-loading-text="İndiriliyor..." class="btn  btn-lg  btn-start-pasif">Pasif Ürünleri Eşitle  </button>  {% endif %}
                <button data-loading-text="Siliniyor..." class="btn   btn-lg  btn-warning btn-del">Eşitlemeleri Sıfırla </button>


            </div>


        </div>
    </div>
    &nbsp; <span class="page-info"> </span>
</div>



<script>

    var updated_products = 0;
    var totalpage;
    var current = 1;
    var lastnext = '';

    $('.btn-del').on('click', function () {
        $('.btn-del').button('loading');

        $.post("index.php?route=entegrasyon/setting/delete_market_products&code={{ code }}&{{ token_link }}", {}, function (donenVeri) {

            if (donenVeri['status']) {
                $('.btn-del').button('reset');
                $('.btnTotalDownloaded').text(0);
                Swal.fire('Başarılı', 'Tüm Ürünler Silindi', 'success');
            }


        }, 'json');


    });

    $('.btn-start').on('click', function () {
        $('#report').empty();
        $('.btn-start').button('loading');


       // console.log('çalıştı');

        starttool('index.php?route=entegrasyon/setting/get_products_progress&totalDownloaded=' + parseInt($('.btnTotalDownloaded').text()) + '&downloaded=0&matched=0&unmatched=0&updated=0&code={{ code }}&{{ token_link }}')



    });
    $('.btn-start-pasif').on('click', function () {
        $('#report').empty();
        $('.btn-start-pasif').button('loading');


        starttool('index.php?route=entegrasyon/setting/get_products_progress&pasif=true&totalDownloaded=' + parseInt($('.btnTotalDownloaded').text()) + '&downloaded=0&matched=0&unmatched=0&updated=0&code={{ code }}&{{ token_link }}')



    });

    function starttool(url) {

        lastnext = url;



        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            success: function (json) {
                var yuzde = Math.round(json['current_page'] * 100 / json['total_page']);
                $('.page-info').empty()
                $('.page-info').prepend('Sayfa:' +json['current_page']+'');

                $('#updated_product').html(json['total']);
                $('.progress  .progress-bar').css('width', yuzde + '%');
                $('.progress  .yuzde').html(yuzde + '%' + ' tamamlandı');


                $.each(json['unmatchedProductInfo'], function( k, v ) {

                    $('#report').prepend('<p class="text-danger"><i class="fa fa-check-circle" aria-hidden="true"></i>' +v+'</p>');

                });


                if (!json['status']) {
                    $('.btn-start').button('reset');
                    $('.btn-start-pasif').button('reset');
                } else {



                    starttool(json['next']);

                }

                $('.btnDownloaded').text(parseInt(json['downloaded']));
                $('.btnUpdated').text(parseInt(json['updated']));
                $('.btnMatched').text(parseInt(json['matched']));
                $('.btnUnMatched').text(parseInt(json['unmatched']));
                $('.btnTotalDownloaded').text(parseInt(json['totaldownloaded']));


            },
            error: function (request, status, error) {
                //alert(request.responseText);
                starttool(lastnext);
            }
        });
    }

</script>

