.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
footer {
  border-top: 1px solid;
}
.lborder {
  border-left: 1px solid;
}
.modal-backdrop {
 position:fixed;
}
.modal-content{
	border: 0;
	border-radius:0; 
}
.container_panel .shipping-table .table>tbody>tr>td .input-radio {
	margin: 0 5px;
}
.form-group .input-radio{
	margin-right: 5px;
}
.width100 {
	text-transform: uppercase;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 15px;
	line-height: 28px;
	border: 0px;
}

.panel-address .panel-address-body .selected-address {
	padding: 10px 15px;
	min-height: 110px;
}
#step_address_panel .modal.fixed .modal-body, .modal.xmargin .modal-body{
	padding: 16px 29px 0 28px;
}
.modal.fixed .modal-footer .progress{
	margin-bottom: 0;
}
@media (min-width: 768px) {
	.modal-dialog, .modal-content{
	width:500px; 
}
	.modal.fixed {
  text-align: center;
}

.modal.fixed:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal.fixed .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
}
/* If you want to hide the scrollbar
::-webkit-scrollbar {width: 0px; height: 4px; background: #ccc; }
::-webkit-scrollbar-thumb { background-color: #ffffff; -webkit-border-radius: 1ex; }
*/
#existingAddress .panel-heading input[type=radio],
#existingAddress .panel-footer input[type=radio]{
	display: none;
}
#existingAddress .panel-heading,
#existingAddress .panel-footer {
  padding: 0;
  background-color: #fcfcfc !important;
  border: 1px solid #ddd !important;
  color: #777;
  /* background: url('../../image/uncheck.png') center left 5px no-repeat; */
}
#existingAddress .panel-heading .radio,
#existingAddress .panel-footer .radio {
  margin-top: 0;
  margin-bottom: 0;
}
#existingAddress .panel-heading .radio label::before, #existingAddress .panel-footer .radio label::before{
  content: "\f10c";
  display: inline-block;  font: normal normal normal 18px/1 FontAwesome;  font-size: inherit;  text-rendering: auto;  -webkit-font-smoothing: antialiased;
}
#existingAddress .panel-heading:hover .radio label::before, #existingAddress .panel-footer:hover .radio label::before{
	content: "\f05d";
}
#existingAddress .panel-heading.selected .radio label::before, #existingAddress .panel-footer.selected .radio label::before {
content: "\f05d";
display: inline-block;
font: normal normal normal 20px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
/* font-size: 20px; */
}
#existingAddress .panel-heading .radio label,
#existingAddress .panel-footer .radio label {
  /* padding-left: 35px; */
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
#addressPage .col-md-9 .panel{
	border: none;
}
#addressPage .col-md-9 .panel .panel-body{
	border: 1px solid #ddd;
}
.progress-bar-success{
	background-color: #5cb85c;
}
#addressPage .col-md-9 .panel-heading.selected,
#addressPage .col-md-9 .panel-footer.selected,
#addressPage .col-md-9 .panel-heading:hover,
#addressPage .col-md-9 .panel-footer:hover,
#guestPage .selected{
  color: #fff !important;
  background-color: #5cb85c !important;
  border: 1px solid #5cb85c !important;
  /* background: url('../../image/check.png') center left 5px no-repeat; */
}
#guestPage .selected:after{
  content: "\f05d";  
  font: normal normal normal 20px/1 FontAwesome;
  float:right;  
}
.panel-green1 .panel-heading {
  font-weight: bold;
  text-align: center;  
  color: #858e8f;
  text-transform: uppercase;
  border-bottom: 2px dashed;
}
.navbar,
footer,
.lborder,
.panel-green1 .panel-heading {
  border-color: #f0f0f0;
}
#addressPage .col-md-9 .panel-heading:hover,
#addressPage .col-md-9 .panel-footer:hover,
.selected {
  
}
/*Left-Tabs Start*/
/*.row.equal [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.row.equal {
  overflow: hidden;
}
*/
.pside-bar {
  background-color: #F3F6F9;
  padding-left: 0px;
  padding-right: 0px;
  border-right: 1px solid #ddd;
}
@media (min-width: 768px) {
.pside-bar,.lborder { 
	min-height: 500px;
}	
}
#step_payment_panel .nav-tabs>li:FIRST-CHILD>a,#step_payment_panel .nav-tabs>li:FIRST-CHILD>a:hover {
background-color: #5cb85c;
color: #fff
}
.tabs-left>li:FIRST-CHILD.active{
	border-top: none;
}
.tabs-left>li.active{
	border-top: 1px solid #ddd;
}
#step_payment_panel li:nth-child(3).active {
	border-top: none;
}
.nav-tabs>li>a {
border-bottom:0;
 line-height:normal;
 border: 0;
 border-radius: 0;
}
.tab-content {
  padding-top: 10px;
}
.tabs-left {
  padding-top: 0px;  
}
.tabs-left>li {
  float: none;  
  margin-right: -1px;
  border-bottom: 1px solid #ddd;
  min-height:60px;
  border-left: 1px solid #ddd;  
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border: 0;	
  border-right-color: transparent;
  border-left: 4px solid #5cb85c;
  color: #5cb85c;  
}
.nav-tabs>li>a:hover {
 border-color:transparent; 
}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
 background-color: transparent;
}
.tabs-left>li>a {
  margin-right: 0;
  display: block;  
  color: #333;
  font-weight: 600;
  padding: 23px 15px;
  text-transform: uppercase;
}
.nav-tabs{
	border-bottom: 0;
}
/*Left-Tabs End*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
}
fieldset {
  padding: 20px;
}

.progress {
  height: 40px;
  border-radius: 0;
}
.progress span {
  text-transform: uppercase;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  line-height: 40px;
}
progress-continue .progress-bar, progress-continue .progress-bar:focus, #progress-continue-disabled .progress-bar,#progress-continue-disabled .progress-bar:focus{
	outline:transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0;
	-o-transition: 0;
 	transition: 0; 
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
  animation: progress-bar-stripes 1s linear infinite;
}
.xrequired, div.required .control-label:after {
  color: #d00;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-size: 16px;
}
.xerror, a.xerror:hover{
  color: orange;
}
.noshipping.xerror{
	padding: 8px;
	border: 1px solid;
	color: orange;
	background: #fff6e7;
	border-color: orange;
	display: block;
	border-radius: 4px;
	margin-top:10px;
}
.container_panel .noshipping.xerror{
	margin: 20px 15px;
}
.alert-danger{
	color: orange;
	background: #fff6e7;
	border-color: orange;	
}
.alert-danger.noshipping{
	text-align: center;
}
.removeAddress:hover{
	font-weight: bold;
}
#addressPage .text-justified{
	border-bottom: 1px solid #ddd;
	/*min-height: 150px;*/
}
.panel-body {
  word-wrap: break-word;
  min-height: 180px;
}
.panel-body label {
  width: 100%;
}
.col-md-3 .panel-body {
  padding: 0;
}
.highlight {
  background: #fefefe;
  border-color: #ddd;
}
.center {
  margin: 0 auto;
}
.hidden {
  display: none;
}
.loader {
  cursor: wait;
  background: #fff ;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.30;
  position: absolute;
  z-index: 10000;
  background: url('../../image/xten.gif') center center no-repeat; 
}
td.wrap {
  word-wrap: break-word;
}
td label {
  cursor: pointer;
  font-weight: normal;
  width: 100%;
}
.text-muted {
  color: #858e8f;
}
.clickable {
  cursor: pointer;
}
.clickable2 {
  color: #337ab7;
}
.clickable:hover {
  color: #23527c;  
}

.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    /* font-size: 16px; */
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;

}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #5CB85C;
    top: 60px;
    left: 50%;
    margin-top: -35px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot::after {
    width: 20px;
    height: 20px;
    background: #5CB85C;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    content: '';
    color: white;
    font-weight: bold;
    text-align: center;
}

.bs-wizard > .bs-wizard-step:first-child > .bs-wizard-dot::after {
    content: '1';
}

.bs-wizard > .bs-wizard-step:nth-child(2) > .bs-wizard-dot::after {
    content: '2';
}

.bs-wizard > .bs-wizard-step:nth-child(3) > .bs-wizard-dot::after {
    content: '3';
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #5CB85C;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 0%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    background: transparent;
    color: #858e8f;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 100%;
}

.bs-wizard > .bs-wizard-step:nth-child(2) > .progress {
    left: 50%;
    width: 100%;
}

.bs-wizard > .bs-wizard-step:nth-child(3) > .progress {
    width: 0%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}


.shippingS {
  font-size: 14px;
  color: #858e8f;
  text-transform: uppercase;
}
.mybutton {
  width: 60%;
  height: 60px;
  text-transform: uppercase;
}
.paddingb {
  padding-bottom: 20px;
}
input[type=radio],
input[type=checkbox] {
  cursor: pointer;
}

#progress1 {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: -6px;
  width: 1%;
  height: 2px;
  background: #5cb85c;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 200ms ease-out, opacity 100ms linear;
  -ms-transition: width 200ms ease-out, opacity 100ms linear;
  -o-transition: width 200ms ease-out, opacity 100ms linear;
  -webkit-transition: width 200ms ease-out, opacity 100ms linear;
  transition: width 200ms ease-out, opacity 100ms linear;
}
#progress1 dd,
#progress1 dt {
  position: absolute;
  top: 0;
  height: 2px;
  -moz-box-shadow: #DFF0D8 1px 0 6px 1px;
  -ms-box-shadow: #DFF0D8 1px 0 6px 1px;
  -webkit-box-shadow: #DFF0D8 1px 0 6px 1px;
  box-shadow: #DFF0D8 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
#progress1 dt {
  opacity: .6;
  width: 180px;
  right: -80px;
  clip: rect(-6px,90px,14px,-6px);
}
#progress1 dd {
  opacity: .6;
  width: 20px;
  right: 0;
  clip: rect(-6px,22px,14px,10px);
}
#top {
  margin: 0 0 20px 0;
  min-height: 40px;
}
#top .container {
  padding: 0 20px;
}
#top #currency .currency-select {
  text-align: left;
}
#top #currency .currency-select:hover {
  text-shadow: none;
  background-image: linear-gradient(to bottom,#23a1d1,#1f90bb);
  background-repeat: repeat-x;
}
.dropdown-menu>li>a:hover {
  text-shadow: none;
  background-image: linear-gradient(to bottom,#23a1d1,#1f90bb);
  background-repeat: repeat-x;
}
#top .btn-link,
#top-links li,
#top-links a {
  text-decoration: none;
}
#top-links .dropdown-menu a {
  text-shadow: none;
}
#top .btn-link strong {
  font-size: 14px;
  line-height: 14px;
}
#top-links {
  margin-top: 8px;
}
.xlogo {
  margin: 0 auto;
}
.policy {
  border-top: 1px solid #ccc;
  padding-top: 8px;
}
footer ul {
  margin-bottom: 0;
  padding-top: 5px;
}
.bold {
  font-weight: bold;
}
table {
  table-layout: auto;
}
td.wrap {
  word-wrap: break-word;
}
td label {
  cursor: pointer;
  font-weight: normal;
  width: 100%;
}
.pchange {
  /*font-size: 14px;*/
  margin-top: 0;
  margin-bottom: 0;
}
.pointer {
  cursor: pointer;
}
.nav-tabs li a:hover{
	text-decoration: none;	
}
div.required .control-label:after{
	content: ' *';	
}
#loginPage .radio, #loginPage .checkbox{
	margin-top: 0px;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */


.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* OC stylesheet overrides- begin*/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	/* color: #23a1d1; */
}
a:hover {
	text-decoration: none;
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
/* OC stylesheet overrides- end*/
/*@media (min-width: 768px) {
	.lborder{
		min-height: 800px;
	} 
}*/
.form-control{ 
	height:30px;
	font-size:12px;
	/* color:#555; */
	border:1px solid #ccc;
	 border-radius:0;
	 -webkit-box-shadow:none; 
	 box-shadow:none;
	-webkit-transition:none;
	-o-transition:none;
	 transition:none;
}
.input-group-btn>.btn { 
	height:30px;	
}
.form-control:focus{
	border-color:#5cb85c;	
	-webkit-box-shadow:none;
	 box-shadow:none;
}
.has-error .form-control, .has-error .form-control:focus {
-webkit-box-shadow: none;
box-shadow: none;
}
.info-back-top {	background: #F2F2F2;	border: 1px solid #ddd;}
.info-back{
	background: #F2F2F2;
	border: 1px solid #ddd;
}

.paddingleft0 {
	padding-left: 0;
}

.info-back {
	border: 1px solid #ddd;
	background: #f1f1f1;
	box-shadow: 0 1px 5px #ddd;
	padding: 12px 15px;
	border-radius: 4px;
	margin: 20px auto 0;
}

.info-back-checkout {
	box-shadow: 0 0px 2px #bbb;
	padding: 12px 15px;
	border-radius: 4px;
	margin: 20px auto 0;
}
/* Modal window and blurred background */
.modal.xmargin .modal-content{
	webkit-box-shadow: none;
    box-shadow: none; 
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    margin:auto;   
}

.modal.xmargin .modal-backdrop.in{
	    filter: alpha(opacity=100);
    	opacity: 1;
		position: fixed;
    	background: #fff;
    	background: url('../../image/p.png') center center repeat;
}
body{
	
}
.panel{
	background: transparent;
}
.uppercase{
	text-transform: uppercase;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: white;
    border: 1px solid #ccc;
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 1px;
    box-shadow: none;
    /*margin: 25px 0;*/
    background-color: #ccc;
}
/* Modal window and blurred background */
#gprogress, #progress{
	width: 100%;
}
/* New Css */
.panel-address {
	border-radius: 4px;
	background-color: #fafafa;
	color: #737373;
	box-shadow: 0 1px 5px #ddd;
	border: 1px solid #ddd;
	margin-top: 20px;
}

.panel-address .panel-address-heading {
	padding: 10px 15px;
	color: #333;
	font-size: 14px;
	background: #f1f1f1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #ddd;
}

small.pull-right a {
	cursor: pointer;
}

a {
	color: green;
	cursor: pointer;
}

small.pull-right {
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
}

.panel-address .panel-address-body .address-list {
	max-height: 131px;
	overflow-y: scroll;
	background: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.input-radio {
	width: 18px;
	height: 18px;
	box-shadow: 0 0 0 0 green inset;
	transition: all 0.2s ease-in-out;
	position: relative;
	cursor: pointer;
	vertical-align: -4px;
	outline: 0;
	border: 1px solid;
	border-radius: 50%;
}

.input-radio:checked:after {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
}

.input-radio:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: scale(0.2);
	transform: scale(0.2);
	transition: all 0.2s ease-in-out 0.1s;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	width: 4px;
	height: 4px;
	margin-left: -2px;
	margin-top: -2px;
	background-color: #fff;
	border-radius: 50%;
}

.input-radio {
	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-webkit-font-smoothing: inherit;
	background: transparent;
	line-height: normal;
	margin: 4px 0 0;
}

.input-radio:checked {
	border: none;
	box-shadow: 0 0 0 10px green inset;
}

.panel-address .panel-address-body .address-list label.address-label span.add_delete
	{
	padding-top: 25px;
	display: block;
	font-size: 12px;
	padding-left: 33px;
}

.panel-address .panel-address-body .address-list label.address-label.selected
	{
	color: #333;
	background: #fafafa;
	transition: background-color 1s ease;
}

.panel-address .panel-address-body .address-list label.address-label {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0px;
	padding: 10px 15px;
	cursor: pointer;
	border-top: 1px solid #ddd;
	background: #fff;
}

.panel-address .panel-address-body .address-list label.address-label:first-child
	{
	border-top: 0;
}

.panel-address .panel-address-body .address-list label.address-label {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0px;
	padding: 10px 15px;
	cursor: pointer;
	border-top: 1px solid #ddd;
	background: #fff;
}

.selected {
	transition: background-color 5s ease;
}

.panel-address .panel-address-body .address-list label.address-label:last-child
	{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.info-back_checkout input[type=checkbox] {
	margin-top: 0px;
	margin-left: -25px;
}

.input-checkbox:checked {
	border: none;
	box-shadow: 0 0 0 10px green inset;
}

.input-checkbox {
	border-color: #d9d9d9;
	background: #fff;
}

.input-checkbox {
	width: 18px;
	height: 18px;
	box-shadow: 0 0 0 0 #ab0000 inset;
	transition: all 0.2s ease-in-out;
	-webkit-appearance: none;
	-webkit-font-smoothing: inherit;
	position: relative;
	cursor: pointer;
	vertical-align: -4px;
	outline: 0;
	border: 1px solid;
	border-radius: 4px;
}

.input-checkbox:checked:after {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
}

.input-checkbox:after {
	content: "\f00c";
	display: inline-block;
	font: normal normal normal 18px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	right: 1px;
	font-size: 16px;
	top: 1px;
	color: #fff;
}

.panel-address .panel-address-body .address-list label.address-label input,.panel-address .panel-address-body .address-list label.address-label span.address-string
	{
	display: table-cell;
}

.panel-address .panel-address-body .address-list label.address-label span.address-string
	{
	width: 90%;
	font-size: 12px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 2px;
}

.panel-address .panel-address-body .address-list label.address-label input
	{
	float: left;
	margin-right: 15px;
}

.container_panel {
	margin-top: 20px;
	box-shadow: 0 1px 5px #ddd;
	border-radius: 4px;
}

.container_panel .heading {
	font-size: 14px;
	padding: 10px;
	color: #333;
	background: #f1f1f1;
	border: 1px solid #ddd;
	border-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.container_panel textarea {
	height: 120px;
	border-radius: 4px;
	border-color: #ddd;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.container_panel .shipping-table {
	border: 1px solid #ddd;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.container_panel .shipping-table {
	height: 120px;
	overflow-y: scroll;
}

.container_panel .shipping-table .table {
	margin: 0;
}

.margintop20 {
	margin-top: 20px;
}

.margintopbottom20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.group {
	position: relative;
	margin-bottom: 15px;
}

input[type="text"].form-control {
	font-size: 12px;
}

.group .inputMaterial {
	font-size: 13px;
	padding: 16px 20px 4px;
	display: block;
	width: 100%;
	border: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #333;
	height: 42px;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.group .inputMaterial {
	font-size: 13px;
	padding: 16px 20px 4px;
	display: block;
	width: 100%;
	border: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #333;
	height: 42px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.group .inputMaterial1 {
	font-size: 13px;
	padding: 16px 20px 4px;
	display: block;
	width: 100%;
	border: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #333;
	height: 42px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.group label {
	color: #bbb;
	font-size: 12px;
	font-weight: 600;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 12px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	z-index: 22;
	/* width: 100%; */
	padding: 0px 10px;
}

.agreeText {
	margin-top: 5px;
	font-size: 14px;
	font-weight: 300;
	padding-left: 0;
}
a.agree{
	font-size: 16px;
}
.agreeTextalternate{
	margin-bottom: 10px;
}
.agreeTextalternate span.checkbox.is_checkbox{
	display: inline-block;
	margin-left: 10px;
	top: 5px;
	margin: 0 10px;
}
.agreeTextalternate .checkbox.is_checkbox input[type=checkbox].input-checkbox{	
	margin-right: 0px;
	top: -2px;
}
.pointer {
	cursor: pointer;
}

label {
	font-size: 14px;
	font-weight: normal;
}
.form-group .checkbox.is_checkbox label{
	padding-left: 0;
}
input[type],textarea {
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

input[type=checkbox] {
	cursor: pointer;
}
.checkbox.is_checkbox input[type=checkbox].input-checkbox{
	margin-left: 0px;
	margin-right:5px;
	position: relative;
	top: -3px;
}

.input-checkbox:after {
	content: "\f00c";
	display: inline-block;
	font: normal normal normal 18px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	right: 2px;
	font-size: 14px;
	top: 2px;
	color: #fff;
}

.agreeText label span { 
	font-size: 13px;
    text-decoration: none;
    text-transform: none;
}

input[type=checkbox] {
	cursor: pointer;
	float: left;
	width: 18px;
}

.pointer {
	cursor: pointer;
}

a {
	color: green;
	cursor: pointer;
}

.large-pull-right {
	float: right !important;
}

.paddingright0 {
	padding-right: 0;
}
.paddingleft0 {
	padding-left: 0;
}


.progress-continue,.progress-continue-disabled {
	border-radius: 4px;
}

.progress-continue-disabled .progress-bar {
	outline: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0;
	-o-transition: 0;
	transition: 0;
	background-color: #ddd;
	width: 100%;
	opacity: 0.5;
	color: #777;
}

.progress span {
	text-transform: uppercase;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 15px;
	line-height: 40px;
}

.fa {
	font-size: 14px;
}

.progress-continue,.progress-continue-disabled {
	border-radius: 4px;
}

.progress-bar-success {
	background-color: green;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress span {
	text-transform: uppercase;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 15px;
	line-height: 40px;
}

/* Add Address Css */
fieldset {
	padding: 0 0 20px !important;
}

.group-twenty-five,.group-thirty,.group-twenty,.group-fourth,.group-half,.group-thirty {
	display: inline-block;
	float: left;
	width: 50%;
}

.group {
	position: relative;
	margin-bottom: 15px;
}

.group-twenty-five.group-left,.group-twenty-five.group-middle,.group-thirty.group-left,.group-thirty.group-middle,.group-twenty.group-left,.group-twenty.group-middle,.group-fourth.group-left,.group-fourth.group-middle,.group-half.group-left,.group-half.group-middle
	{
	padding-right: 15px;
}

.group .inputMaterial {
	font-size: 13px;
	padding: 16px 15px 4px;
	display: block;
	width: 100%;
	border: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #333;
	height: 42px;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.group.has-error .inputMaterial{
	border-color: orange;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.group.custom-field.has-error .xerror,.group.has-error .inputMaterial+.xerror,.alert-warning{
	color: orange;
	background: #fff6e7;
	padding: 2px 15px;
	border-color: orange;
}
.group.custom-field.has-error button{
	border-color: orange;
	border-bottom-right-radius: 0;
}
.group.custom-field.has-error .xerror, .group.has-error .inputMaterial+.xerror{	
	text-align: left;
	font-weight: 500;
	font-size: 13px;
	padding: 2px 15px;
	border:1px solid;	
	border-top: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;		
	display: block;
}
.group.has-error .inputMaterial+.xerror:before{
	content: "\f06a";
	font-family: FontAwesome;
	display: inline-block;
	margin-right: 5px;
}


.group.focus label,.group.filled label, .group.filledalways label {
	top: -8px !important;
	/*font-size: 11px;
	font-weight: normal;
	color: #777;*/	
	background: #fff;
}
.group label span.required:after {
	
	color: #ddd;
	content: "*";
	margin-left: 5px;
}
.group.focus label span.required:after,.group.filled label span.required:after {
	display: inline-block;
}
xdiv {
	display: block;
}

.group .inputMaterial:focus {
	/*border-color: #66afe9;*/
	outline: 0;
	-webkit-box-shadow: none;/*inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(102, 175, 233, 0.6);*/
	box-shadow: none;/*inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(102, 175, 233, 0.6);*/
}

.group select.inputMaterial {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	padding: 16px 15px 4px;
}

.group select.inputMaterial+label+labelselect::before,.group select.inputMaterial+span+label+labelselect::before {
	content: "|";
	position: absolute;
	right: 32px;
	font-size: 18px;
	font-weight: 100;
	top: 10px;
	color: #eee;
}

.group select.inputMaterial+label+labelselect::after,.group select.inputMaterial+span+label+labelselect::after {
	content: "\f0d7";
	display: inline-block;
	font: normal normal normal 18px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	right: 17px;
	font-size: 20px;
	top: 12px;
	color: #ddd;
}

.group.focus select.inputMaterial,.group.filled select.inputMaterial {
	padding-top: 18px;
}

.group.focus select.inputMaterial+labelselect::before,.group.filled select.inputMaterial+labelselect::before
	{
	top: 10px;
}

.group.focus select.inputMaterial+labelselect::after,.group.filled select.inputMaterial+labelselect::after
	{
	top: 12px;
}

.group .intl-tel-input .selected-flag {
	background: #eee;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.intl-tel-input .selected-flag:focus {
	outline: none;
}

.group-thirty,.group-twenty,.group-fourth,.group-half {
	display: inline-block;
	float: left;
	width: 50%;
}

.group-thirty.group-left,.group-thirty.group-middle,.group-twenty.group-left,.group-twenty.group-middle,.group-fourth.group-left,.group-fourth.group-middle,.group-half.group-left,.group-half.group-middle
	{
	padding-right: 15px;
}

.group-two-third {
	width: 66.66%;
}

.group-one-third {
	width: 33.33%;
	padding-left: 15px;
}

.group-one-third,.group-two-third {
	display: inline-block;
	float: left;
}

.group-fourth {
	width: 25%;
}

.group-thirty {
	width: 33.33%;
}
.group-twenty-five {
	width: 25%;
}
.group-twenty {
	width: 20%;
}

xdiv {
	display: block;
}

.margin_top {
	margin-top: 18px;
}

xdiv label.is_checkbox {
	margin: 0 auto 10px;
}

xdiv label.is_checkbox input[type=checkbox] {
	margin-top: 0px;
	margin-right: 10px;
}

.input-checkbox:hover {
	border-color: #cccccc;
}

.input-checkbox:hover {
	border-color: #cccccc;
}

.input-checkbox {
	border-color: #cccccc;
}

#paymentPage .panel-group {
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#paymentPage .panel-group .panel:first-child .panel-heading {
	border-top: 0;
}

#paymentPage .panel-group .panel .panel-heading {
	border-top: 1px solid #ddd;
	border-radius: 0;
	padding: 0;
	position: relative;
}

h4.panel-title {
	position: relative;
}

#paymentPage .panel-group .panel .panel-heading a.heading-panel {
	padding: 10px 15px;
	display: block;
	width: inherit;
	color: #333;
}

a.heading-panel[aria-expanded="true"] {
	cursor: default;
}

a.heading-panel {
	margin-left: 25px;
}

a.heading-panel[aria-expanded="true"]::before {
	border: none;
	box-shadow: 0 0 0 10px green inset;
}

a.heading-panel::before {
	content: " ";
	display: inline-block;
	margin-right: 10px;
	height: 18px;
	width: 18px;
	background: transparent;
	border: 1px solid #ddd;
	border-radius: 50%;
	top: 9px;
	position: absolute;
	left: 10px;
}

#paymentPage .panel-group .panel .panel-heading a.heading-panel label {
	cursor: pointer;
	font-size: 13px;
	font-weight: 400;
}

a.heading-panel[aria-expanded="true"]::after {
	content: " ";
	display: inline-block;
	height: 4px;
	width: 4px;
	background: white;
	border: 0;
	border-radius: 50%;
	top: 16px;
	position: absolute;
	left: 17px;
}

.payment_icons_pp_pro {
	position: absolute;
	width: inherit;
	top: 8px;
	right: 15px;
}

.payment_icons_pp_pro i {
	margin: 0 2px;
	font-size: 25px;
	color: #777;
}

#paymentPage .panel-group .panel:last-child .panel-body {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#paymentPage .panel-group .panel .panel-body {
	padding-bottom: 0;
	background: #fafafa;
	text-align: center;
}

#paymentPage .panel-group .panel+.panel {
	margin-top: 0;
}

#paymentPage .panel-group .panel {
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#paymentPage .panel-group .panel .panel-body .payment-method-heading {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 10px;
	text-align: center;
}

#collapsebank_transfer .panel-group .panel .panel-body .payment-method-heading
	{
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 10px;
	text-align: center;
}

#panel-bodybank_transfer .mybutton {
	height: 42px;
	width: 26%;
}

#panel-bodybank_transfer h2 {
	font-size: 18px;
}

#panel-bodybank_transfer b,strong {
	font-weight: 400;
}

.paddingb h2 {
	font-size: 18px;
}

.paddingb b,strong {
	font-weight: 400;
}

.paddingb .mybutton {
	height: 42px;
	width: 26%;
}
.input-group-addon .cvcapply {
    font-size: 14px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.input-group .input-group-addon {
    font-size: 14px;
    height: 30px;
}
.data-sections .data-section.data-right .input-group-addon {
    cursor: pointer;
}

.input-group-addon:last-child {
    border-left: 0;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: green;
    border: 1px solid green;
    border-radius: 4px;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.group required {
	position: absolute;
	right: 0px;
	top: 0px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	z-index: 22;
	width: 42px;
	background-color:rgba(242, 222, 222, 0.22);
	height: 42px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
	padding: 13px;
	border-left: 1px solid #ddd;
	
}
.group required:after{	
	content: "*";
	font-size: 18px;
	color: #a94442;
}
.group tooltip {
	position: absolute;	
	right: 0px;
	top: 0px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	z-index: 22;
	width: 42px;
	background-color:rgba(157, 175, 255, 0.05);
	height: 42px;
	text-align: center;
	padding: 13px;
	border-left: 1px solid #ddd;	
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;	
}
.group .is_floating_tooltip{
	position: absolute;
	margin-left: 15px;
	padding-right: 15px;
	pointer-events: all;
	background: #fff;
	visibility: hidden;
}
.group.filled .is_floating_tooltip,.group.focused .is_floating_tooltip{
	visibility: visible;
}
.group .is_floating_tooltip:after{
	font-family: FontAwesome;
	color: #cacaca;
	content: "\f05a";
	font-size: 14px;
}
.group tooltip:after{
	font-family: FontAwesome;
	color: #cacaca;
	content: "\f05a";
	font-size: 16px;
}
.group required+tooltip,.group .tooltip+tooltip{
	right: 42px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.group .input-group .inputMaterial{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.group .input-group .input-group-btn>.btn{
	height: 42px;
}
.modal-body .form-group{
	margin-left: 0;
	margin-right: 0;
}
.group select+label,.group select+span+label{
	top: -8px !important;
}
.form-horizontal .control-label.text-left{
	text-align: left;
}
.modal .modal-footer{
	border: 0;
}
.modal-footer{
	padding: 0 0 15px;	
}
.marginbottom20{
	margin-bottom: 20px;
}
.marginbottom0{
	margin-bottom: 0px;
}
.width100{
	width: 100%;
}
#progress-continue-disabled, #progress-continue{
	margin-bottom: 20px;
}
#form_xregister .buttons{
	margin-bottom: 20px;	
}
@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}
.panel.panel-green1{
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0;
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.panel-green1 button{
	-webkit-appearance: none;
	background: transparent;
	padding: 0;
	border-width: 0;
	border-style: none;
	border-color: transparent;
	border-image: inherit;
}
.panel-green1 input.inputMaterial{
	height: 36px;
}
.panel-green1 .group label{
	top:8px;
}
.shipping-table .table>tbody:FIRST-CHILD>tr>td{
	border-top: none;
}

.shipping-table .table>tbody>tr>td,#totals .panel-green1 .table>tbody>tr>td{
	border-top: 1px dashed #ddd;
}
.shipping-table .table>tbody+tbody, #totals .table>tbody>tr:FIRST-CHILD>td{
	border: none;
}
.panel-green1 .input-group.group{
	margin-bottom: 0;
}
.input-group.group .input-group-addon{
	padding:0;
}
.input-group.group .input-group-addon button{	
	padding: 8px 15px;
}
.cvc-panel {
	margin-top: 20px;
}
.cvcapplied.alert{
	padding: 4px 12px;
	margin-top: 10px;
}
.cvcapplied.alert-dismissable .close, .alert-dismissible .close{
	top: -1px;
	right: -5px;	
}
#xcart .media-left img {
    min-width: 60px;
}
#xcart .media-body {
    width: 10000px;
}
#xcart .media-right{
	min-width: 80px;
	text-align: right;
}
#xcart .media{
	margin:15px 0 0 0;
}
#xcart .panel-body{
	min-height: inherit;
}
#totals,#xcart,#shipping_method,#options{
-webkit-animation-duration: .7s;
-moz-animation-duration: .7s;
-ms-transition-animation-duration: .7s;
}
.login-panel-bg{	
	min-height: 500px;
	padding: 10px 50px;
}
.login-panel-bg .login-section {
  max-width: 450px;
  margin: 20px auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 2px #ddd;
  background:#fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
.login-panel-bg .separator {
  margin: 30px auto 30px;
  width: 100%;
  height: 1px;
  background: #ddd;
  content: " ";
  z-index: 0;
}
.login-panel-bg .separator+label {
  display: block;
  text-align: center;
  z-index: 12;
  background: #fff;
  font-size: 16px;
  max-width: 200px;
  margin: -40px auto 20px;
}
.login-panel-bg .separator+label.is_or {
  width: 50px;
}
.login-panel-bg .login-heading {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0 20px;
  color: #333;
}

.tabbable .nav-tabs {
    border-bottom: 1px solid #ddd;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.tabbable .nav-tabs:BEFORE,.tabbable .nav-tabs:AFTER{
	display: none;
}
.tabbable .nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    display: table-cell;
}

.tabbable .nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color:#797979;
    text-align: center;
    font-size:16px;
}

.tabbable .nav-tabs > li > a:hover {
    color: #29bb9c;
    border-color: 0;
    background: transparent;
    
}

.tabbable .nav-tabs > li.active > a, .tabbable .nav-tabs > li.active > a:focus, .tabbable .nav-tabs > li.active > a:hover {
    color: #29bb9c;
    cursor: default;
    background-color: #fff;
    border:0;
    border-bottom: 1px solid #29bb9c;
}

.login-third-party-login {
    margin-top: 30px
}
.footer-separator {
	margin: 10px 0;
	padding: 10px 0px 5px;
	border-top: 1px solid #ddd;
	width: 100%;
}

