#menu > li > a > span {
	display: inline-table!important;
}
#menu, #menu ul, #menu li {

	padding: 0;

	margin: 0;

	list-style: none;
 
}

#column-left {
	border-top: 1px solid white;
	width: 100%;

	height: 38px;

	background-color: #424954;

	position: relative;

	top: 0px;

	padding-top:0px;

	z-index: 10;

	transition: all 0.3s;
    /*margin-left: 70px;*/
}

#menu {

	margin-bottom: 0px;

}

#menu > li > ul {
	    box-shadow: 0px 9px 18px 8px #424853a8;
position: absolute;
    right: 0px;
	left:0;
    top: 37px;
    width: 210px;
    background-color: #444444;
    visibility: hidden;

}

#menu > li {
	    width: 10%;
    border-right: 1px solid #fff;
	position: relative;
	float: left;
}

#menu > li > a {
	    text-align: center;
	color: #fff;
	font-size: 12px;
	padding-left: 0px;
	

}
#menu > li > a:hover{
	color: #424954;
    background-color: #ffffff;

}
#menu > li.active > a{
color: #424954;
    background: #f3f3f3;

}

#column-left + #content {
margin-right: 0px;
margin-left: 0px;
}
#menu li ul a {

}
#menu li li a:before{
	display: none;
}
#menu li a i {

	font-size: 13px;

}
#menu li a{
	padding: 10px 0px;
}
#menu li ul a {
	 
}
#menu li ul a:hover {
	    font-weight: 700;
} 
#column-left.active {    width: 235px;    height: 100%;    margin-left: 0px;    position: absolute;    margin-top: 50px;}#column-left.active #stats {	display: -webkit-inline-box;}#menu li li a.parent:after, #column-left.active #menu > li a.parent:after {    font-family: FontAwesome;    content: "\f105";    float: right;    margin-left: 8px;}@media (max-width: 768px) {#column-left {	width: 95%;	height: 40px;	background-color: #515151;	position: absolute;	top: 0px;	padding-top:0px;	z-index: 10;	transition: all 0.3s;height: 100%;    margin-top:50px;	margin-left:0px;}#column-left.active #stats {	display: -webkit-inline-box;}}
