<?php echo $header; ?>
<ul class="breadcrumb">
  <?php foreach ($breadcrumbs as $breadcrumb) { ?>
  <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
  <?php } ?>
</ul>
<?php if ($j3->settings->get('pageTitlePosition') === 'top'): ?>

<?php endif; ?>
<?php echo $j3->loadController('journal3/layout', 'top'); ?>
<div id="common-success" class="container">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>">
      <?php if(isset($insert_order_id) && insert_order_id){ ?>
        <style>
          .successpage{
            text-align:center;
            min-height: 400px;
            padding-top: 60px;
            padding-bottom: 60px;
          }
          .successpage img{
            height:120px;
          }
          .successpage .text{
            font-size:24px;
            margin-top:60px;
            margin-bottom:30px;
          }
        </style>
        <div class="col-md-12 successpage">
            <img src="<?php echo HTTPS_SERVER; ?>image/check-circle.gif" height="120">
            <p class="text">Siparişiniz Başarıyla Oluşturulmuştur.</p>
            <p>Siparişiniz ile ilgili detaylar mail adresinize gönderilmiştir.</p>
        </div>
      <?php }else{ ?>
      <?php if ($j3->settings->get('pageTitlePosition') === 'default'): ?>
        <h1 class="title page-title"><?php echo $heading_title; ?></h1>
      <?php endif; ?>
      <?php echo $content_top; ?>
      <?php echo $text_message; ?>
      <div class="buttons">
        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
      </div>
    <?php } ?>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>


<script>

  $(function (event){

    var order_id=parseInt('<?php echo $order_id ?>');
    $.post('index.php?route=entegrasyon/update/update_after_order',{order_id:order_id},function (json){


    },'JSON')

  })



</script>

        
<?php echo $footer; ?>
