<form action="<?php echo $button_url; ?>" method="post">
<div class="buttons">
    <div class="pull-right">
      <input type="submit" value="<?php echo $button_confirm; ?>" class="btn btn-primary" />
    </div>
</div>
</form>