/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.Oca.2016, 16:35:32
    Author     : mahmut Gülerce
*/


.sppbox {
    border:2px solid #fff;
    border-radius: 0px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #eee;
}

.sppbox h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.bggray {
    background: #eee;
    color:#453B58;
}

.bggreen {
    background: #77C73B;
    color:#fff;
}

.bgorange {
    background: #ff6600;
    color:#fff;
}
.bgyellow {
    background: #FCB90F;
    color:#fff;
}
.bgred {
    background: #FC6666;
    color:#fff;
}

.bgred_light{
    background: #eab3b7;
    color:#333;
}

.bggreen_light{
    background: #ddf0de;
    color:#72C279;
}
.bgblue_light{
    background: #92d097;
    color:#72C279;
}

.bgblue {
    background: #00AEEF;
    color:#fff;
}

.bgpurple {
    background: #AE00EF;
    color:#fff;
}


.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

ul.nav-pills li.active a{
    background-color: #ccc !important;
}

table.installments {
    width:100%;
}

table.installments td {
    border-bottom:1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
}

table.installments input{
    max-width: 65px;
    float: left;
    margin: 1px 7px;
    vertical-align: middle;
}

table.table td {
    background: transparent !important;
    color:#453B58 !important;
}

.bggray hr {
    border-color: #aaa;
}
.spph150 {
    min-height: 150px;
    height: 150px;
}
.spph100 {
    min-height: 100px;
    height: 100px;
}
.spph200 {
    min-height: 200px;
    height: 200px;
}
.spph250 {
    min-height: 250px;
    height: 250px;
}
.spph300 {
    min-height: 300px;
    height:300px;
}
.spph350 {
    min-height: 350px;
    height:350px;
}
.spph450 {
    min-height:450px;
    height: 450px;
}
.spph550 {
    min-height:550px;
    height: 550px;
}
.spph650 {
    min-height:650px;
    height: 650px;
}
.spph750 {
    min-height:750px;
    height: 750px;
}

div.spphelpbutton {
    bottom: 0;
    position: absolute;
}

.spr_price {
    font-size: 1.5em;
    line-height: 30px;
}

.mpicon {
    font-size:3em; 
    color:#3799b5;
}

form#cards td {
    padding:1px !important;
}

div#content .row {
	margin-left: 0px;
	margin-right: 0px;
}