form#cc_form{
    color:#333;
}

form#cc_form input.cc_cvc{
}

form#cc_form div.expiry{
    width: 50%;
}

form#cc_form input{
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
}

form#cc_form input.error {
    color:red;
}

.has-error input {

}
#cc_validation.text-danger:after {
    content: 'Validation failed';
    color:red;
}
#cc_validation.text-success:after {
    content: 'Validation passed';
    color:green;
}
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
    background-color: #f0ad4e;
    border-color: #eea236;
}
/*
@media screen and (max-width: 999px) {
        form#cc_form input[type="text"]{
                max-width:175px;
        }
}*/