</div>

<a href="../tema_yonetimi/tema_yonetimi.pdf" target="_blank"><div style="position: fixed; left: 30px; bottom: 10px; border: 10px; border-radius: 20px; background: #19233C; padding: 10px; color: #FFF; font-size:14px;">Tema Dökümanları</div></a>


</body>


</html>
