
<div class="panel panel-panel-default">

    <div class="panel-heading">
        <h3>Trendyol Standart Ayaralar</h3>
        <div class="pull-right">
            <button id="btnSave" code="ty" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary btnSave "><i class="fa fa-save"></i></button>
            <button  data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default btnVazgec"><i class="fa fa-reply"></i></button></div>
    </div>


</div>
<div class="row">

    <div class="row well"  style="border-top: 2px solid #27ad5e;">


        <div class="col-sm-1">
            <img class="img-responsive" src="view/image/entegrasyon/bilgi.png"/>
        </div>
        <div class="col-sm-11">
            <h3 style="color:#27ad5e;font-weight: bolder ">Bilgilendirme</h3>
            <p>Standart ayarlar tüm Trendyol mağazanızda işlem yaparken kullanılan genel ayarlardır. Bu ayarlardan bazıları, ürün, marka yada kategori ayarlarında da bulunmaktadır. Eğer ürüne markaya yada kategoriye özel bir ayarlama yapmadıysanız burada belirlediğiniz ayarlar işleme alınacaktır. Ayarların öncelik sırası 1:Ürün, 2:Marka, 3:Kategori, 4:Genel şeklindedir. </p>

        </div>
    </div>

    <form id="form-setting" class="inline-form">
        <div class="col-sm-6">

            <div class="panel-body">

                <div class="form-group">
                    <label class="control-label">Sabit Fiyat Artış Oranı <span data-toggle="tooltip" title="" data-original-title="Zorunlu Alan!, Eğer ürüne, kategoriye yada markaya özel bir komisyon oranı girilmediyse burada belirlediğiniz sabit fiyat oranı tüm ürünlere uygulanacaktır. Ürüne,markaya yada kategoriye özel bir sabit fiyat artış oranı girilmediyse buradaki oran işleme alınır."></span></label>

                    <input type="text" value="{{ ty_setting_commission }}" name="ty_setting_commission" class="form-control">

                </div>

                <div class="form-group">
                    <label class="control-label">Sabit Fiyat Artış Oranları <span data-toggle="tooltip" title="" data-original-title="Ürün fiyatına bağlı olarak mevcut fiyatı belirlenen oranla çarpın, örneğin 10 TL'nin altındaki tüm fiyatlara yüzde 100 fiyat artışı uygulamak istiyorsanız, sadece 10:100 yazın, yada örneğin 50'nin altındaki tüm fiyatları %50 artış uygulamak için yeni satır ekleyin ve 50:50' yazın. 200 tl nin altındaki fiyatlara %30 fiyat artışı uygulama için yeni satır ekleyin ve 200:30 yazın. Dilediğiniz kadar satır ekleyebilirsiniz."></span></label>

                    <textarea name="ty_setting_price_multiplier" placeholder="örnek: 80:50" class="form-control">{{ ty_setting_price_multiplier }}</textarea>


                </div>



                <div id="shipping_price" class="form-group">
                    <label class="control-label">Kargo Ücreti <span data-toggle="tooltip" title="" data-original-title="Trendyol Mağazanıza Ürün göndeme yada güncelleme işlemi yaparken ürün fiyatına kargo ücreti eklemek isterseniz sabit kargo tutarınız bu alana giriniz."></span></label>

                    <input type="text" name="ty_setting_shipping_price" value="{{ ty_setting_shipping_price }}" placeholder="Sabit kargo ücreti" class="form-control">

                </div>
   <div class="form-group">
                    <label class="control-label">Kargo Artış Oranları <span data-toggle="tooltip" title="" data-original-title=""></span></label>

                    <textarea name="ty_setting_price_multiplier_shipping" placeholder="örnek: 80:50" class="form-control">{{ ty_setting_price_multiplier_shipping }}</textarea>


                </div>
                <div class="form-group">
                    <label class="control-label required">Kargo Firması <span data-toggle="tooltip" title="" data-original-title="Ürünlerinizi kargolarken hangi kargo firmasını kullanacaksınız ?"></span></label>

                    <select name="ty_setting_shipping_company"  class="form-control" >
                        {% for company in cargo_company %}
                            {% if company.id==ty_setting_shipping_company %}
                                <option value="{{ company.id }}" selected > {{ company.name  }}</option>
                            {% else %}
                                <option value="{{ company.id }}"> {{ company.name  }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>

                </div>

                <div class="form-group">
                    <label class="control-label required">Teslimat Adresi <span data-toggle="tooltip" title="" data-original-title="Ürünleriniz hangi teslimat adresi üzerinden gönderilecek  ?"></span></label>

                    <select name="ty_setting_shipping_address"  class="form-control" >
                        {% for address in address.result.supplierAddresses %}
                            {% if address.addressType=='Shipment' %}

                            {% if address.id==ty_setting_shipping_address %}
                                <option value="{{ address.id }}" selected > {{ address.address }}</option>
                            {% else %}
                                <option value="{{ address.id }}" > {{ address.address }}</option>

                            {% endif %}
                            {% endif %}
                        {% endfor %}

                    </select>

                </div>

                <div class="form-group">
                    <label class="control-label required">İade Adresi <span data-toggle="tooltip" title="" data-original-title="iade edilen ürünleriniz hangi adresinize gönderilecek ?"></span></label>

                    <select name="ty_setting_returning_address"  class="form-control" >
                        {% for address in address.result.supplierAddresses %}
                            {% if address.addressType=='Returning' %}

                                {% if address.id==ty_setting_returning_address %}
                                    <option value="{{ address.id }}" selected > {{ address.address }}</option>
                                {% else %}
                                    <option value="{{ address.id }}" > {{ address.address }}</option>

                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </select>

                </div>


                <div class="form-group">

                    <label class="control-label required">KDV Eklensin mi ? <span data-toggle="tooltip" title="" data-original-title="Zorunlu Alan!, Ürüne KDV oranının eklenip eklenmeyeceğiniz belirler. Eğer ürününüze herhangi bir vergi sınıfı eklediyseniz, buradaki vergi oranı baz alınacaktır."></span></label>

                    <select class="form-control" name="ty_setting_kdv_setting">

                        {%  if  ty_setting_kdv_setting %}

                            <option value="1"  selected >Eklensin</option>
                            <option  value="0">Eklenmesin</option>

                        {% else %}

                            <option value="1"  >Eklensin</option>
                            <option selected  value="0">Eklenmesin</option>
                        {% endif %}

                    </select>
                </div>

                <div class="form-group hidden">

                    <label class="control-label">Ürün Seçenekleri<span data-toggle="tooltip" title="" data-original-title="Pazaryerinin kategoriye özel seçeneklerinin sadece zorunlu olanlarını yada tümünü görüntüleyebilirsiniz."></span></label>

                    <select class="form-control" name="ty_setting_product_option">

                        {%  if  ty_setting_product_option %}

                            <option value="1"  selected >Tümü</option>
                            <option  value="0">Zorunlu</option>

                        {% else %}

                            <option value="1"  >Tümü</option>
                            <option selected  value="0">Zorunlu</option>
                        {% endif %}

                    </select>
                </div>


                <div class="form-group variant">
                    <label class="control-label">Seçenek & Varyant Gönderilsin mi ? <span data-toggle="tooltip" title="" data-original-title="Zorunlu Değil!, Ürününüzü seçenekli yada varyantlı olarak gönderebilirsiniz. "></span></label>
                    <select class="form-control" name="ty_setting_variant">

                        {%  if  ty_setting_variant %}

                            <option value="0"  >Gönderme</option>
                            <option selected  value="1">Gönder</option>

                        {% else %}

                            <option value="1">Gönder</option>
                            <option  selected   value="0">Gönderme</option>
                        {% endif %}

                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Ürüne Özel Kategori Seçilebilsin mi ? <span data-toggle="tooltip" title="" data-original-title="Ürünleriniz herhangi bir kategoriye bağlı değilse pazaryerine ürüne gönderirken sadece ürüne özel bir kategori seçebilirsiniz."></span></label>
                    <select class="form-control" name="ty_setting_product_category">

                        {%  if  ty_setting_product_category %}
                            <option value="1"  selected >Evet</option>
                            <option  value="0">Hayır</option>

                        {% else %}
                            <option value="1"   >Evet</option>

                            <option selected value="0">Hayır</option>

                        {% endif %}
                    </select>


                </div>
                <div class="form-group">
                    <label class="control-label">Ürüne Özel Para Birimi Seçilebilsin mi ? <span data-toggle="tooltip" title=""
                                                                                                data-original-title="Ürünlerinize genel olarak herhangi bir Para Birimi belirtilmemiş ise pazaryerine
                       ürüne gönderirken sadece ürüne özel bir Para Birimi seçebilirsiniz."></span></label>
                    <select class="form-control" name="ty_setting_product_iscurrency">

                        {%  if  ty_setting_product_iscurrency %}
                            <option value="1"  selected >Evet</option>
                            <option  value="0">Hayır</option>

                        {% else %}
                            <option value="1"   >Evet</option>

                            <option selected value="0">Hayır</option>

                        {% endif %}
                    </select>


                </div>

                <div class="form-group variant">
                    <label class="control-label">Renk seçeneği varyanta dahil edilsin mi ? <span data-toggle="tooltip" title="" data-original-title="Zorunlu Değil!, Aynı ürünün birden çok rengi ve bedeni bulunuyorsa ürün seçeneklerine ekleyeceğiniz renk seçeneğini beden seçenekleri ile birlikte varyanta dönüştürerel trendyolda işlem yapmanızı sağlar. Renk seçeneğini aktif etmezseniz ürünün rengini manuel olarak belirleyip sadece beden seçeneğini varyant olarak gönderirsiniz. "></span></label>
                    <select class="form-control" name="ty_setting_color">

                        {%  if  ty_setting_color %}

                            <option value="0"  >Dahil Edilmesin</option>
                            <option selected  value="1">Dahil Edilsin</option>

                        {% else %}

                            <option value="1">Dahil Edilsin</option>
                            <option  selected   value="0">Dahil Edilmesin</option>
                        {% endif %}

                    </select>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="panel-body">


                    <div class="form-group hidden">
                        <label>Ürün Özellikleri</label>
                        <select class="form-control" name="ty_setting_product_attribute">

                            {%  if  ty_setting_kdv_setting %}
                                <option value="1"  selected   >Zorunlu</option>
                                <option  value="0">Tümü</option>

                            {% else %}
                                <option value="1"   >Zorunlu</option>

                                <option selected value="0">Tümü</option>

                            {% endif %}
                        </select>



                    </div>





                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Gelen siparişler, site siparişlerine de aktarılsın mı ? <span data-toggle="tooltip" title="" data-original-title="Trendyol'dan aldığınız siparişler modül menüsündeki siparişler alanına aktarılmaktadır, siparişleri aynı zamanda sitenizin siparişerine de aktarılmasını istiyorsanız, aktarılsın seçeneğini seçiniz."></span></label>
                    <select class="form-control" name="ty_setting_oc_order">

                        {%  if  ty_setting_oc_order %}

                            <option value="1" selected >Aktarılsın</option>
                            <option  value="0">Aktarılmasın</option>

                        {% else %}

                            <option value="1">Aktarılsın</option>
                            <option  selected   value="0">Aktarılmasın</option>
                        {% endif %}

                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Kampanya Uygulansın mı ? <span data-toggle="tooltip" title="" data-original-title="Ürünleriniz için belirlemiş olduğunuz kampanyalı fiyatların Trendyol mağazanızda da geçerli olup olmayacağını belirler."></span></label>
                    <select class="form-control" name="ty_setting_product_special">

                        {%  if  ty_setting_product_special %}
                            <option value="1"  selected >Evet</option>
                            <option  value="0">Hayır</option>

                        {% else %}
                            <option value="1"   >Evet</option>

                            <option selected value="0">Hayır</option>

                        {% endif %}
                    </select>


                </div>

                <div class="form-group">
                    <label class="control-label">Ek Ürün Açıklaması <span data-toggle="tooltip" title="" data-original-title="Trendyol Mağazanıza ürün gönderimi yaparken yada güncellerken ürün açıklamalarına standart ek içerik eklemek için içeriği oluşturduğunuz bilgi sayfasını seçiniz. Seçtiğiniz bilgi sayfasını içeriği ürün açıklamalarından sonra eklenecektir. "></span></label>
                    <select class="form-control" name="ty_setting_additional_content">

                        <option value="0">==Seçiniz==</option>
                        {% for information in informations %}
                            {% if information.information_id == ty_setting_additional_content%}
                                <option value="{{ information.information_id  }}"
                                        selected> {{ information.title  }}</option>
                            {% else %}

                                <option value="{{ information.information_id}}"> {{ information.title  }}</option>

                            {% endif %}

                        {% endfor %}

                    </select>


                </div>

                <div class="form-group">

                    <label class="control-label">Ürün Kodu Ön Eki <span data-toggle="tooltip" title="" data-original-title="Zorunlu değil!, Ürünü pazaryerini gönderirken başka bir ürünle çakışmaması için ürün koduna ekleme yapabilirsiniz."></span></label>


                    <input type="text" name="ty_setting_model_prefix" value="{{ ty_setting_model_prefix }}" placeholder="Ürün Kodu Ön Eki" class="form-control">

                </div>



                <div class="form-group">
                    <label class="control-label">Ürün Barkod Alanı <span data-toggle="tooltip" title="" data-original-title="Ürünüze ait barkod yada gtin kodunu tanımladığınız alanı seçiniz. Ürününüzde seçtiğiniz alana ait herhangi bir giriş yok yoksa ürün kodu barkod olarak işleme alınır. "></span></label>
                    <select class="form-control" name="ty_setting_barkod_place">

                        <option value="0">==Seçiniz==</option>
                        {% for barkod_place in barkod_places %}
                            {% if barkod_place == ty_setting_barkod_place %}
                                <option value="{{ barkod_place   }}"
                                        selected> {{ barkod_place   }}</option>
                            {% else %}

                                <option value="{{ barkod_place }}"> {{ barkod_place   }}</option>

                            {% endif %}

                        {% endfor %}

                    </select>


                </div>
                <div class="form-group">
                    <label class="control-label">Ana Ürün Kodu<span data-toggle="tooltip" title="" data-original-title="Ana Ürünüze ait barkod yada gtin kodunu tanımladığınız alanı seçiniz. "></span></label>
                    <select class="form-control" name="ty_setting_main_product_id">

                        <option value="0">==Seçiniz==</option>
                        {% for barkod_place in barkod_places %}
                            {% if barkod_place == ty_setting_main_product_id %}
                                <option value="{{ barkod_place   }}"
                                        selected> {{ barkod_place   }}</option>
                            {% else %}

                                <option value="{{ barkod_place }}"> {{ barkod_place   }}</option>

                            {% endif %}

                        {% endfor %}

                    </select>


                </div>

                <div class="form-group ">
                    <label class="control-label">Siperişe TC Kimlik No Eklensin Mi? <span data-toggle="tooltip" title="" data-original-title="Adresin sonuna tc kimlik no eklensin mi? "></span></label>
                    <select class="form-control" name="ty_setting_add_tc">

                        {%  if  ty_setting_add_tc %}
                            <option value="1"
                                    selected> Eklensin</option>

                            <option value="0"> Eklenmesin</option>

                        {% else %}
                            <option value="1"
                              > Eklensin</option>

                            <option value="0"       selected > Eklenmesin</option>
                        {% endif %}


                    </select>
                </div>

            </div>

        </div>
    </form>

</div>

